Repository icon-project/centralized-relay, pull requests merged in 2024-04, with the labels that each got.

#159 feat: Added sui message processing feature
  cmd/contracts.go
  cmd/keystore.go
  go.mod
  go.sum
  relayer/chains/sui/client.go
  relayer/chains/sui/client/client.go
  relayer/chains/sui/config.go
  relayer/chains/sui/keys.go
  relayer/chains/sui/keys_test.go
  relayer/chains/sui/msg.go
  relayer/chains/sui/provider.go
  relayer/chains/sui/provider_test.go
  relayer/chains/sui/query.go
  relayer/chains/sui/route.go
  relayer/chains/sui/tx.go
  relayer/chains/sui/types/types.go
  relayer/socket/client.go
  relayer/socket/types.go
Labels: enhancement, Centralised Relay

#160 feat: implement sui listener with polling approach
  relayer/chains/sui/client.go
  relayer/chains/sui/listener.go
  relayer/chains/sui/provider_test.go
  relayer/chains/sui/types/types.go
Labels: Centralised Relay, feature, SUI

#157 refactor: Relayer performance and stability update
  .golangci.yml
  CHANGELOG.md
  relayer/chains/evm/client.go
  relayer/chains/evm/listener.go
  relayer/chains/evm/provider.go
  relayer/chains/icon/client.go
  relayer/chains/icon/event_parse.go
  relayer/chains/icon/listener.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/query.go
  relayer/chains/icon/route.go
  relayer/chains/icon/types/types.go
  relayer/chains/wasm/client.go
  relayer/chains/wasm/config.go
  relayer/chains/wasm/provider.go
  relayer/relay.go
  relayer/types/types.go
Labels: bug, documentation, enhancement, Centralised Relay

#172 feat: steller setup
  cmd/config.go
  example/configs/steller.json
  go.mod
  go.sum
  relayer/chains/steller/client.go
  relayer/chains/steller/config.go
  relayer/chains/steller/keys.go
  relayer/chains/steller/listener.go
  relayer/chains/steller/provider.go
  relayer/chains/steller/sorobanclient/client.go
  relayer/chains/steller/sorobanclient/jsonrpc.go
  relayer/chains/steller/sorobanclient/types.go
  relayer/chains/steller/tx.go
  relayer/chains/steller/types/types.go
Labels: Centralised Relay, feature, Steller

#174 feat: steller listener
  go.mod
  go.sum
  relayer/chains/steller/client.go
  relayer/chains/steller/config.go
  relayer/chains/steller/listener.go
  relayer/chains/steller/provider_test.go
  relayer/chains/steller/types/types.go
  utils/concurrency/patterns.go
Labels: Centralised Relay, feature, Steller

#175 feat: steller kms integration
  relayer/chains/steller/keys.go
  relayer/chains/steller/provider.go
Labels: Centralised Relay, feature, Steller

#194 fix: wait for block mined instead of poll
  relayer/chains/evm/client.go
  relayer/chains/evm/listener.go
  relayer/chains/evm/provider.go
  relayer/chains/evm/route.go
Labels: bug, enhancement, Centralised Relay

#173 test: added xcall execution e2e devnet
  Dockerfile
  Makefile
  go.mod
  go.sum
  go.work
  test/chains/chain.go
  test/chains/cosmos/data/config/addrbook.json
  test/chains/cosmos/data/config/app.toml
  test/chains/cosmos/data/config/client.toml
  test/chains/cosmos/data/config/config.toml
  test/chains/cosmos/data/config/genesis.json
  test/chains/cosmos/data/config/gentx/gentx-bae985792586da9449498cbeb8f4d2ccaa59bcb0.json
  test/chains/cosmos/data/config/node_key.json
  test/chains/cosmos/data/config/priv_validator_key.json
  test/chains/cosmos/data/keyring-test/344b52073131e6b2b84f978fb3e0f6c644187c78.address
  test/chains/cosmos/data/keyring-test/fd.info
  test/chains/cosmos/localnet.go
  test/chains/cosmos/params.go
  test/chains/cosmos/types.go
  test/chains/evm/anvil_node.go
  test/chains/evm/localnet.go
  test/chains/evm/params.go
  test/chains/icon/events.go
  test/chains/icon/icon_node.go
  test/chains/icon/localnet.go
  test/chains/icon/params.go
  test/e2e/e2e_test.go
  test/e2e/tests/xcall.go
  test/go.mod
  test/go.sum
  test/interchaintest/_internal/dockerutil/container_lifecycle.go
  test/interchaintest/_internal/dockerutil/fileretriever.go
  test/interchaintest/_internal/dockerutil/filewriter.go
  test/interchaintest/_internal/dockerutil/image.go
  test/interchaintest/_internal/dockerutil/setup.go
  test/interchaintest/_internal/dockerutil/volumeowner.go
  test/interchaintest/ibc/relayer.go
  test/interchaintest/ibc/types.go
  test/interchaintest/interchain.go
  test/interchaintest/relayer/centralized/centralized_relayer.go
  test/interchaintest/relayer/docker.go
  test/interchaintest/relayfactory.go
  test/relayer/aws/credentials
  test/relayer/data/keystore/emv.local/0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
  test/relayer/data/keystore/emv.local/0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266.pass
  test/relayer/data/keystore/icon.local/hxb6b5791be0b5ef67063b3c10b840fb81514db2fd
  test/relayer/data/keystore/icon.local/hxb6b5791be0b5ef67063b3c10b840fb81514db2fd.pass
  test/relayer/data/keystore/localnet-1/archway1x394ype3x8nt9wz0j78m8c8kcezpslrcnvs6ef
  test/relayer/data/keystore/localnet-1/archway1x394ype3x8nt9wz0j78m8c8kcezpslrcnvs6ef.pass
  test/relayer/data/keystore/localnet/archway1x394ype3x8nt9wz0j78m8c8kcezpslrcnvs6ef
  test/relayer/data/keystore/localnet/archway1x394ype3x8nt9wz0j78m8c8kcezpslrcnvs6ef.pass
  test/sample-config.yaml
  test/testsuite/e2e_suite.go
  test/testsuite/testconfig/testconfig.go
  test/testsuite/testsuite.go
Labels: Centralised Relay, test

#199 Add changelog and refactor lint
  CHANGELOG.md
  relayer/chains/wasm/provider.go
Labels: documentation

#202 fix: avoid double nonce increment
  relayer/chains/evm/route.go
Labels: bug, Centralised Relay
