Repository icon-project/centralized-relay, pull requests merged in 2024-11, with the labels that each got.

#400 feat: use global private key for singing cluster messages.
  cmd/appstate.go
  cmd/chains.go
  cmd/config.go
  cmd/db.go
  cmd/keystore.go
  cmd/start.go
  relayer/chains/evm/provider.go
  relayer/chains/icon/provider.go
  relayer/chains/mockchain/provider.go
  relayer/chains/steller/provider.go
  relayer/chains/sui/keys.go
  relayer/chains/sui/provider.go
  relayer/chains/wasm/client.go
  relayer/chains/wasm/provider.go
  relayer/provider/provider.go
  relayer/relay.go
Labels: Centralised Relay, feature

#413 fix: Handle non-base64 transaction hashes gracefully
  relayer/chains/solana/provider.go
Labels: bug, Centralised Relay, Solana

#414 fix: convert balance string from int to float64
  relayer/chains/steller/provider.go
Labels: bug, Centralised Relay, Steller

#332 ci: add e2e workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/run-e2e.yml
  scripts/optimize-xcall-build.sh
Labels: documentation, cicd, scripts

#415 refactor: round floating decimals to three places in calculations
  relayer/types/types.go
Labels: enhancement, Centralised Relay

#419 fix: msg signing and receive cluster message in cosmwasm
  cmd/config.go
  cmd/keystore.go
  relayer/chains/icon/event_parse.go
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/types/msg.go
Labels: feature, Cluster Relayer

#424 fix: start event query from recent xcall tx signature by default
  relayer/chains/solana/listener.go
Labels: bug, Solana

#423 fix: start querying from latest xcall tx digest by default
  relayer/chains/sui/listener.go
Labels: bug, SUI

#426 feat: Fix issues due to stellar update
  relayer/chains/steller/client.go
  relayer/chains/steller/listener.go
  relayer/chains/steller/provider.go
  relayer/chains/steller/sorobanclient/client.go
  relayer/chains/steller/sorobanclient/types.go
  relayer/chains/steller/tx.go
  relayer/chains/steller/types/types.go
Labels: bug

#429 fix: added missing error handling in case of error while fetching txn
  relayer/chains/steller/listener.go
  relayer/chains/steller/provider.go
Labels: bug

#431 fix: add xcall prog account in recv_message for reply
  relayer/chains/solana/tx.go
Labels: bug, Solana

#433 fix: fixed e2e for solana
  test/chains/solana/remotenet.go
  test/interchaintest/relayer/centralized/centralized_relayer.go
Labels: bug, test

#434 fix: set SDK context before account creation
  relayer/chains/wasm/keys.go
Labels: bug, Centralised Relay

#438 fix: check for tx error
  relayer/chains/solana/client.go
  relayer/chains/steller/sorobanclient/client.go
Labels: bug, Solana

#441 fix: handle tx error after getting txn
  relayer/chains/solana/client.go
  relayer/chains/solana/listener.go
  relayer/chains/solana/provider.go
Labels: bug, Solana

#442 fix: fixed checking for status
  relayer/chains/steller/sorobanclient/client.go
Labels: bug, Centralised Relay

#443 Fix/check pkt ack
  relayer/chains/icon/methods.go
  relayer/chains/icon/provider.go
  relayer/provider/provider.go
  relayer/relay.go
Labels: bug, feature, Cluster Relayer
