Repository icon-project/centralized-relay, pull requests merged in 2024-10, with the labels that each got.

#278 feat: solana contract integration
  Makefile
  cmd/config.go
  example/configs/solana.json
  go.mod
  go.sum
  go.work.sum
  relayer/chains/solana/alt/alt.go
  relayer/chains/solana/alt/state.go
  relayer/chains/solana/bincode/bincode.go
  relayer/chains/solana/client.go
  relayer/chains/solana/config.go
  relayer/chains/solana/idl.go
  relayer/chains/solana/keys.go
  relayer/chains/solana/listener.go
  relayer/chains/solana/provider.go
  relayer/chains/solana/provider_test.go
  relayer/chains/solana/tx.go
  relayer/chains/solana/types/cs_message.go
  relayer/chains/solana/types/pda.go
  relayer/chains/solana/types/tx_info.go
  relayer/chains/solana/types/types.go
  relayer/relay.go
  test/chains/icon/localnet.go
  test/chains/solana/alt/alt.go
  test/chains/solana/alt/state.go
  test/chains/solana/bincode/bincode.go
  test/chains/solana/client.go
  test/chains/solana/data/id.json
  test/chains/solana/remotenet.go
  test/chains/solana/types.go
  test/e2e/tests/xcall.go
  test/go.mod
  test/go.sum
  test/interchaintest/interchain.go
  test/interchaintest/relayer/centralized/centralized_relayer.go
  test/relayer/data/keystore/solana.local/2V6UQFu9BZL6eKj2EFjtbCvtS1poXJNyJoWogk6gbGsS
  test/relayer/data/keystore/solana.local/2V6UQFu9BZL6eKj2EFjtbCvtS1poXJNyJoWogk6gbGsS.pass
  test/sample-config.yaml
  test/testsuite/testsuite.go
Labels: test, feature, Solana

#389 fix: changed stellar query method to get events
  relayer/chains/steller/client.go
  relayer/chains/steller/config.go
  relayer/chains/steller/listener.go
Labels: bug

#391 docs: add release notes for solana
  CHANGELOG.md
Labels: documentation

#396 fix: tx not finalized
  example/configs/solana.json
  relayer/chains/solana/client.go
  relayer/chains/solana/config.go
  relayer/chains/solana/provider.go
  relayer/chains/solana/tx.go
Labels: bug, Solana

#370 feat: socket apis for admin dashboard support.
  .goreleaser.yaml
  Makefile
  cmd/db.go
  cmd/debug.go
  cmd/root.go
  cmd/start.go
  relayer/chains/evm/listener.go
  relayer/chains/evm/provider.go
  relayer/chains/evm/query.go
  relayer/chains/icon/event_parse.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/query.go
  relayer/chains/mockchain/provider.go
  relayer/chains/solana/config.go
  relayer/chains/solana/provider.go
  relayer/chains/steller/client.go
  relayer/chains/steller/config.go
  relayer/chains/steller/provider.go
  relayer/chains/sui/config.go
  relayer/chains/sui/provider.go
  relayer/chains/wasm/provider.go
  relayer/provider/provider.go
  relayer/relay.go
  relayer/socket/client.go
  relayer/socket/server.go
  relayer/socket/types.go
  relayer/types/types.go
Labels: feature

#397 fix: solana concurrency issue
  relayer/chains/solana/client.go
  relayer/chains/solana/listener.go
  relayer/chains/solana/provider_test.go
  relayer/chains/solana/tx.go
  relayer/chains/solana/types/types.go
  relayer/types/types.go
Labels: bug, Solana

#398 fix: stellar handle error properly
  relayer/chains/steller/tx.go
  relayer/relay.go
Labels: bug, Steller

#403 fix: properly handle callback error while message routing
  relayer/chains/evm/route.go
  relayer/chains/icon/route.go
  relayer/chains/solana/tx.go
  relayer/chains/steller/tx.go
  relayer/chains/sui/tx.go
  relayer/chains/wasm/provider.go
Labels: bug

#404 fix: drop CallMessage if dst connection address is empty for old m…
  relayer/chains/solana/listener.go
Labels: bug, Solana

#399 fix: balance calculation and missing build flags
  .goreleaser.yaml
  relayer/chains/evm/provider.go
  relayer/chains/evm/query.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/query.go
  relayer/chains/solana/provider.go
  relayer/chains/steller/provider.go
  relayer/chains/wasm/config.go
  relayer/chains/wasm/provider.go
  relayer/provider/provider.go
  relayer/socket/server.go
  relayer/socket/types.go
  relayer/types/types.go
Labels: bug, Centralised Relay

#405 feat: sui intent fixes
  example/configs/sui.json
  relayer/chains/evm/listener.go
  relayer/chains/sui/config.go
  relayer/chains/sui/listener.go
  relayer/chains/sui/provider.go
  relayer/chains/sui/tx.go
Labels: feature, SUI

#407 fix: wrong xcallsn
  relayer/chains/solana/listener.go
  relayer/relay.go
Labels: bug, Solana
