Repository icon-project/centralized-relay, pull requests merged in 2024-05, with the labels that each got.

#190 feat: steller transaction execution
  example/configs/steller.json
  go.mod
  go.sum
  relayer/chains/steller/client.go
  relayer/chains/steller/config.go
  relayer/chains/steller/listener.go
  relayer/chains/steller/provider.go
  relayer/chains/steller/sorobanclient/client.go
  relayer/chains/steller/sorobanclient/types.go
  relayer/chains/steller/tx.go
  relayer/chains/steller/types/msg.go
  relayer/chains/steller/types/xdr.go
Labels: feature, Steller

#214 rf: gas adjustment and step adjustment in config
  CHANGELOG.md
  relayer/chains/evm/provider.go
  relayer/chains/evm/route.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/route.go
Labels: documentation, enhancement

#208 feat: injective chain support
  .editorconfig
  CHANGELOG.md
  cmd/config.go
  cmd/flags.go
  cmd/root.go
  go.mod
  go.sum
  relayer/chains/evm/client.go
  relayer/chains/evm/provider.go
  relayer/chains/evm/route.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/route.go
  relayer/chains/wasm/client.go
  relayer/chains/wasm/codec.go
  relayer/chains/wasm/config.go
  relayer/chains/wasm/events.go
  relayer/chains/wasm/keys.go
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/types/const.go
  relayer/provider/provider.go
Labels: bug, documentation, enhancement, Centralised Relay

#222 Fix executeCall estimation parameter
  relayer/chains/evm/provider.go
Labels: bug, Centralised Relay

#216 feat: e2e sui integration
  Makefile
  scripts/execute-test.sh
  scripts/optimize-xcall-build.sh
  test/chains/chain.go
  test/chains/cosmos/data/keyring-test/relayer.info
  test/chains/cosmos/localnet.go
  test/chains/evm/localnet.go
  test/chains/icon/localnet.go
  test/chains/sui/data/Dockerfile
  test/chains/sui/data/client.yaml
  test/chains/sui/data/sui.aliases
  test/chains/sui/data/sui.keystore
  test/chains/sui/msg.go
  test/chains/sui/remotenet.go
  test/chains/sui/types.go
  test/e2e/e2e_test.go
  test/e2e/tests/xcall.go
  test/go.mod
  test/go.sum
  test/interchaintest/file_utils.go
  test/interchaintest/relayer/centralized/centralized_relayer.go
  test/relayer/data/keystore/sui/0xe847098636459aa93f4da105414edca4790619b291ffdac49419f5adc19c4d21
  test/relayer/data/keystore/sui/0xe847098636459aa93f4da105414edca4790619b291ffdac49419f5adc19c4d21.pass
  test/sample-config.yaml
  test/testsuite/testsuite.go
Labels: test, SUI, scripts

#224 feat: e2e sui updates
  test/chains/sui/remotenet.go
  test/e2e/tests/xcall.go
  test/interchaintest/relayer/centralized/centralized_relayer.go
Labels: test

#226 fix: fallback to polling when RPC fails
  CHANGELOG.md
  relayer/chains/evm/listener.go
  relayer/chains/evm/provider.go
  relayer/chains/icon/listener.go
  relayer/chains/icon/provider.go
  relayer/chains/wasm/provider.go
  relayer/provider/provider.go
  relayer/relay.go
  relayer/types/types.go
Labels: bug, documentation, enhancement, Centralised Relay

#234 refactor: RPC recovery using ticker
  relayer/chains/evm/listener.go
  relayer/chains/wasm/provider.go
Labels: bug, Centralised Relay

#231 refactor: transaction result handling
  relayer/chains/evm/client.go
  relayer/chains/evm/provider.go
Labels: bug, enhancement

#236 Add changelog for version 1.2.7
  CHANGELOG.md
Labels: documentation

#237 rm: concurrency
  relayer/relay.go
Labels: enhancement, Centralised Relay
