Repository icon-project/centralized-relay, pull requests merged in 2024-09, with the labels that each got.

#355 fix: add proper logs for event log detection and message routing in icon
  relayer/chains/evm/listener.go
  relayer/chains/evm/route.go
  relayer/chains/icon/event_parse.go
  relayer/chains/icon/listener.go
  relayer/chains/icon/route.go
  relayer/chains/sui/listener.go
  relayer/chains/sui/provider_test.go
  relayer/chains/sui/tx.go
  relayer/chains/wasm/provider.go
Labels: enhancement, Centralised Relay

#368 fix: conn reset packet cleaned
  relayer/chains/evm/listener.go
  relayer/store/messageStore_test.go
  relayer/types/types.go
Labels: bug

#371 fix: sui enhancements
  example/configs/sui.json
  relayer/chains/sui/client.go
  relayer/chains/sui/config.go
  relayer/chains/sui/listener.go
  relayer/chains/sui/provider.go
  relayer/chains/sui/tx.go
  relayer/socket/server.go
  test/chains/sui/remotenet.go
  test/interchaintest/relayer/centralized/centralized_relayer.go
Labels: enhancement, test, SUI

#372 feat: steller integration
  cmd/config.go
  example/configs/steller.json
  go.mod
  go.sum
  go.work.sum
  relayer/chains/steller/client.go
  relayer/chains/steller/config.go
  relayer/chains/steller/keys.go
  relayer/chains/steller/listener.go
  relayer/chains/steller/provider.go
  relayer/chains/steller/sorobanclient/client.go
  relayer/chains/steller/sorobanclient/jsonrpc.go
  relayer/chains/steller/sorobanclient/types.go
  relayer/chains/steller/tx.go
  relayer/chains/steller/types/msg.go
  relayer/chains/steller/types/types.go
  relayer/chains/steller/types/xdr.go
  test/chains/icon/localnet.go
  test/chains/stellar/client.go
  test/chains/stellar/jsonrpc.go
  test/chains/stellar/msg.go
  test/chains/stellar/remotenet.go
  test/chains/stellar/types.go
  test/e2e/tests/xcall.go
  test/go.mod
  test/go.sum
  test/interchaintest/relayer/centralized/centralized_relayer.go
  test/relayer/data/keystore/stellar.local/GCX3TODZ2KEHYGD6HOQDRZVOUWNSQWP6OLYBIQ3XNPFKQ47G42H7WCGA
  test/relayer/data/keystore/stellar.local/GCX3TODZ2KEHYGD6HOQDRZVOUWNSQWP6OLYBIQ3XNPFKQ47G42H7WCGA.pass
  test/sample-config.yaml
  test/testsuite/e2e_suite.go
  test/testsuite/testsuite.go
  utils/concurrency/patterns.go
Labels: test

#381 fix: update changelog for new release
  CHANGELOG.md
Labels: documentation, enhancement

#382 feat: added cluster configs for relayer
  cmd/chains.go
  cmd/config.go
  cmd/db.go
  cmd/start.go
  relayer/provider/provider.go
  relayer/relay.go
  relayer/relay_test.go
Labels: Centralised Relay, feature

#383 feat: initial event sign interaction
  cmd/config.go
  relayer/chains/evm/provider.go
  relayer/chains/icon/event_parse.go
  relayer/chains/icon/events.go
  relayer/chains/icon/listener.go
  relayer/chains/icon/methods.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/route.go
  relayer/chains/icon/types/types.go
  relayer/chains/mockchain/provider.go
  relayer/chains/steller/provider.go
  relayer/chains/sui/config.go
  relayer/chains/sui/provider.go
  relayer/chains/wasm/client.go
  relayer/chains/wasm/config.go
  relayer/chains/wasm/provider.go
  relayer/events/eventTypes.go
  relayer/provider/provider.go
  relayer/relay.go
  relayer/types/types.go
Labels: Centralised Relay, feature

#384 feat: added logic for parsing and acting on transmitReadyEvent
  relayer/chains/evm/abi/cluster_conn.go
  relayer/chains/evm/client.go
  relayer/chains/evm/provider.go
  relayer/chains/evm/route.go
  relayer/chains/icon/event_parse.go
  relayer/chains/icon/events.go
  relayer/chains/icon/methods.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/route.go
  relayer/chains/icon/types/types.go
  relayer/chains/mockchain/provider.go
  relayer/chains/steller/provider.go
  relayer/chains/sui/config.go
  relayer/chains/wasm/config.go
  relayer/events/eventTypes.go
  relayer/provider/provider.go
  relayer/relay.go
  relayer/types/types.go
Labels: Centralised Relay, feature

#385 feat: solana e2e tests
  test/chains/icon/localnet.go
  test/chains/solana/alt/alt.go
  test/chains/solana/alt/state.go
  test/chains/solana/bincode/bincode.go
  test/chains/solana/client.go
  test/chains/solana/data/id.json
  test/chains/solana/remotenet.go
  test/chains/solana/types.go
  test/e2e/tests/xcall.go
  test/go.mod
  test/go.sum
  test/interchaintest/interchain.go
  test/interchaintest/relayer/centralized/centralized_relayer.go
  test/relayer/data/keystore/solana.local/2V6UQFu9BZL6eKj2EFjtbCvtS1poXJNyJoWogk6gbGsS
  test/relayer/data/keystore/solana.local/2V6UQFu9BZL6eKj2EFjtbCvtS1poXJNyJoWogk6gbGsS.pass
  test/sample-config.yaml
  test/testsuite/testsuite.go
Labels: Centralised Relay, test
