Repository icon-project/centralized-relay, pull requests merged in 2024-06, with the labels that each got.

#244 feat: add connection
  example/configs/sui.json
  relayer/chains/sui/config.go
  relayer/chains/sui/listener.go
  relayer/chains/sui/provider.go
  relayer/chains/sui/tx.go
  relayer/chains/sui/types/types.go
  relayer/relay.go
Labels: feature, SUI

#252 fix: icon ws error and use plain http rpc
  relayer/chains/evm/client.go
  relayer/chains/evm/listener.go
  relayer/chains/icon/client.go
  relayer/chains/icon/listener.go
  relayer/relay.go
Labels: bug, enhancement, Centralised Relay

#239 refactor: improvements, nonce tracker and bug fixes
  .github/workflows/release.yml
  .golangci.yml
  .pre-commit-config.yaml
  cmd/contracts.go
  cmd/db.go
  cmd/start.go
  go.mod
  go.sum
  relayer/chain_runtime.go
  relayer/chains/evm/client.go
  relayer/chains/evm/event_parse.go
  relayer/chains/evm/events.go
  relayer/chains/evm/listener.go
  relayer/chains/evm/provider.go
  relayer/chains/evm/query.go
  relayer/chains/evm/route.go
  relayer/chains/evm/types/types.go
  relayer/chains/icon/client.go
  relayer/chains/icon/event_parse.go
  relayer/chains/icon/listener.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/query.go
  relayer/chains/icon/route.go
  relayer/chains/icon/types/types.go
  relayer/chains/wasm/client.go
  relayer/chains/wasm/config.go
  relayer/chains/wasm/events.go
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/types/msg.go
  relayer/provider/provider.go
  relayer/relay.go
  relayer/socket/client.go
  relayer/socket/types.go
  relayer/store/finalityStore.go
  relayer/store/messageStore.go
  relayer/types/types.go
Labels: cicd

#256 Add changelog documentation
  CHANGELOG.md
Labels: documentation

#225 feat: e2e integation for stellar chain
  test/chains/stellar/client.go
  test/chains/stellar/jsonrpc.go
  test/chains/stellar/msg.go
  test/chains/stellar/remotenet.go
  test/chains/stellar/types.go
  test/go.mod
  test/go.sum
  test/interchaintest/ibc/chain.go
  test/interchaintest/relayer/centralized/centralized_relayer.go
  test/relayer/data/keystore/stellar.local/GCX3TODZ2KEHYGD6HOQDRZVOUWNSQWP6OLYBIQ3XNPFKQ47G42H7WCGA
  test/relayer/data/keystore/stellar.local/GCX3TODZ2KEHYGD6HOQDRZVOUWNSQWP6OLYBIQ3XNPFKQ47G42H7WCGA.pass
  test/sample-config.yaml
  test/testsuite/e2e_suite.go
  test/testsuite/testsuite.go
Labels: Centralised Relay, test, feature

#253 fix: updated to reflecct changes on sui modules and relayer config
  test/chains/chain.go
  test/chains/cosmos/localnet.go
  test/chains/evm/localnet.go
  test/chains/icon/localnet.go
  test/chains/sui/remotenet.go
  test/e2e/tests/xcall.go
  test/interchaintest/relayer/centralized/centralized_relayer.go
Labels: Centralised Relay, test, SUI

#254 feat: modified listener to use streams which are re-created every 60 seconds with context timeout
  relayer/chains/steller/client.go
  relayer/chains/steller/config.go
  relayer/chains/steller/listener.go
  relayer/chains/steller/provider_test.go
  relayer/chains/steller/tx.go
  relayer/chains/steller/types/types.go
Labels: enhancement, Centralised Relay

#259 fix: query latest height when subscription errors occur
  relayer/chains/evm/listener.go
Labels: bug, Centralised Relay

#257 refactor: Sui Listener and add last processed tx info to track the relayed messages of the source chain
  go.work.sum
  relayer/chains/evm/listener.go
  relayer/chains/icon/listener.go
  relayer/chains/sui/client.go
  relayer/chains/sui/listener.go
  relayer/chains/sui/provider.go
  relayer/chains/sui/provider_test.go
  relayer/chains/sui/types/txInfo.go
  relayer/chains/sui/types/types.go
  relayer/chains/wasm/provider.go
  relayer/provider/provider.go
  relayer/relay.go
  relayer/store/txStore.go
  relayer/types/types.go
Labels: enhancement, Centralised Relay, SUI

#215 feat: solana kms
  relayer/chains/solana/keys.go
  relayer/chains/solana/listener.go
Labels: feature, Solana

#267 fix: issue with closing recovered connection
  relayer/chains/evm/client.go
Labels: bug, Centralised Relay

#263 fix: return error for relay handeFailed
  relayer/chains/icon/route.go
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/types/types.go
Labels: bug, Centralised Relay

#268 "Add new version changelog"
  CHANGELOG.md
Labels: documentation

#265 feat: solana listener
  relayer/chains/solana/client.go
  relayer/chains/solana/config.go
  relayer/chains/solana/listener.go
  relayer/chains/solana/provider.go
  relayer/chains/solana/provider_test.go
  relayer/chains/solana/types/types.go
  relayer/events/eventTypes.go
Labels: feature, Solana
