Repository icon-project/centralized-relay, pull requests merged in 2024-07, with the labels that each got.

#273 fix: connection error handling in EVM listener
  relayer/chains/evm/listener.go
Labels: bug, enhancement, Centralised Relay

#277 fix: TCP connection errors and improve error handling
  CHANGELOG.md
  relayer/chains/evm/client.go
  relayer/chains/evm/listener.go
Labels: bug, documentation, enhancement, Centralised Relay

#274 fix: SDK context usage for wasm keystore
  relayer/chains/wasm/keys.go
  relayer/chains/wasm/provider.go
Labels: bug, enhancement, Centralised Relay

#281 fix: cleanup test cases
  Makefile
  relayer/chain_runtime_test.go
  relayer/chains/evm/event_parse_test.go
  relayer/chains/evm/keys_test.go
  relayer/chains/evm/provider_test.go
  relayer/chains/icon/events_test.go
  relayer/chains/icon/keys_test.go
  relayer/chains/icon/provider_test.go
  relayer/chains/mockchain/provider.go
  relayer/relay_test.go
  relayer/store/blockStore_test.go
  relayer/store/messageStore_test.go
  relayer/types/types_test.go
Labels: Centralised Relay, test

#283 feat: execute rollback test case updates for e2e
  test/chains/chain.go
  test/chains/cosmos/data/keyring-test/relayer.info
  test/chains/cosmos/localnet.go
  test/chains/evm/localnet.go
  test/chains/icon/localnet.go
  test/e2e/tests/xcall.go
Labels: Centralised Relay, test

#243 feat: executeRollback event handling for EVM, ICON, and CosmWasm chains
  .golangci.yml
  .goreleaser.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
  go.work.sum
  relayer/chains/evm/client.go
  relayer/chains/evm/event_parse.go
  relayer/chains/evm/events.go
  relayer/chains/evm/provider.go
  relayer/chains/evm/query.go
  relayer/chains/evm/route.go
  relayer/chains/icon/event_parse.go
  relayer/chains/icon/events.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/query.go
  relayer/chains/icon/route.go
  relayer/chains/icon/types/types.go
  relayer/chains/wasm/events.go
  relayer/chains/wasm/keys.go
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/types/msg.go
  relayer/events/eventTypes.go
  relayer/relay.go
  test/chains/chain.go
  test/chains/cosmos/data/keyring-test/relayer.info
  test/chains/cosmos/localnet.go
  test/chains/evm/localnet.go
  test/chains/icon/localnet.go
  test/e2e/tests/xcall.go
Labels: Centralised Relay, test, feature

#286 chore: removed unused ibc related codes and functinos
  go.work.sum
  test/chains/chain.go
  test/chains/chainConfig.go
  test/chains/cosmos/localnet.go
  test/chains/cosmos/params.go
  test/chains/cosmos/types.go
  test/chains/evm/anvil_node.go
  test/chains/evm/localnet.go
  test/chains/evm/params.go
  test/chains/evm/wallet.go
  test/chains/icon/codec.go
  test/chains/icon/icon_node.go
  test/chains/icon/localnet.go
  test/chains/icon/params.go
  test/chains/icon/wallet.go
  test/e2e/tests/xcall.go
  test/go.mod
  test/go.sum
  test/interchaintest/chainset.go
  test/interchaintest/file_utils.go
  test/interchaintest/ibc/chain.go
  test/interchaintest/interchain.go
  test/testsuite/testsuite.go
Labels: Centralised Relay, test

#297 rf: use rpc for maximum reliability
  CHANGELOG.md
  relayer/chains/evm/client.go
Labels: documentation, enhancement

#326 remove: SDK context lock from `RestoreKeyStore()`
  relayer/chains/wasm/keys.go
Labels: bug, Centralised Relay

#302 feat: disable batch query conditionally
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/types/types.go
Labels: enhancement, Centralised Relay

#303 refactor: block synchronization and logging
  relayer/chains/evm/listener.go
  relayer/chains/icon/listener.go
  relayer/chains/wasm/keys.go
  relayer/chains/wasm/provider.go
Labels: bug, enhancement, Centralised Relay
