Repository icon-project/centralized-relay, pull requests merged in 2024-08, with the labels that each got.

#327 fix: removed default executing conditions with proper condition
  relayer/chains/wasm/provider.go
Labels: bug

#333 refactor: remove concurrency for wasm when fetching blocks.
  relayer/chains/wasm/provider.go
Labels: enhancement, Centralised Relay

#324 fix: fixed issue with docker build for amr linux
  Dockerfile
  Makefile
Labels: bug

#323 fix: wasm empty logs key for events
  relayer/chains/wasm/events.go
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/types/types.go
Labels: bug, Centralised Relay

#334 fix: use healhcheck timeout of 10s for early detection
  relayer/chains/evm/listener.go
Labels: enhancement, Centralised Relay

#344 add: logs for subsription ctx done
  relayer/chains/evm/listener.go
Labels: enhancement, Centralised Relay

#307 fix: used string as cache key and modified other required functions accordingly
  relayer/chain_runtime_test.go
  relayer/chains/icon/provider.go
  relayer/relay.go
  relayer/types/types.go
Labels: bug, Centralised Relay

#298 refactor: robust retries to counter rpc failures
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/types/const.go
  utils/retry/retry.go
  utils/retry/retry_test.go
Labels: bug, enhancement, Centralised Relay

#348 add(doc): add changelogs
  CHANGELOG.md
Labels: documentation

#345 feat: sui integration
  .gitignore
  CHANGELOG.md
  Dockerfile
  Makefile
  cmd/config.go
  cmd/contracts.go
  cmd/keystore.go
  example/configs/sui.json
  go.mod
  go.sum
  go.work.sum
  relayer/chains/evm/listener.go
  relayer/chains/icon/listener.go
  relayer/chains/mockchain/provider.go
  relayer/chains/sui/client.go
  relayer/chains/sui/config.go
  relayer/chains/sui/keys.go
  relayer/chains/sui/keys_test.go
  relayer/chains/sui/listener.go
  relayer/chains/sui/msg.go
  relayer/chains/sui/provider.go
  relayer/chains/sui/provider_test.go
  relayer/chains/sui/tx.go
  relayer/chains/sui/types/txInfo.go
  relayer/chains/sui/types/types.go
  relayer/chains/wasm/provider.go
  relayer/provider/provider.go
  relayer/relay.go
  relayer/socket/client.go
  relayer/socket/types.go
  relayer/store/txStore.go
  relayer/types/types.go
  scripts/execute-test.sh
  scripts/optimize-xcall-build.sh
  test/chains/cosmos/localnet.go
  test/chains/evm/localnet.go
  test/chains/icon/localnet.go
  test/chains/sui/data/Dockerfile
  test/chains/sui/data/client.yaml
  test/chains/sui/data/sui.aliases
  test/chains/sui/data/sui.keystore
  test/chains/sui/msg.go
  test/chains/sui/remotenet.go
  test/chains/sui/types.go
  test/e2e/e2e_test.go
  test/e2e/tests/xcall.go
  test/go.mod
  test/go.sum
  test/interchaintest/relayer/centralized/centralized_relayer.go
  test/relayer/data/keystore/sui/0xe847098636459aa93f4da105414edca4790619b291ffdac49419f5adc19c4d21
  test/relayer/data/keystore/sui/0xe847098636459aa93f4da105414edca4790619b291ffdac49419f5adc19c4d21.pass
  test/sample-config.yaml
  test/testsuite/testsuite.go
Labels: documentation, test, feature, SUI, scripts

#350 fix: added contextual timeout to requests creating clients in case of evm chains
  relayer/chains/evm/client.go
  relayer/chains/evm/listener.go
Labels: bug

#354 fix: fixed client creation loop stuck issue
  relayer/chains/evm/listener.go
Labels: bug

#361 feat: decouple sui dapp
  Dockerfile
  example/configs/sui.json
  relayer/chains/sui/config.go
  relayer/chains/sui/listener.go
  relayer/chains/sui/provider.go
  relayer/chains/sui/tx.go
  test/chains/sui/remotenet.go
  test/interchaintest/relayer/centralized/centralized_relayer.go
Labels: enhancement, Centralised Relay, test

#364 fix: ambiguous log message for different cases in sui
  relayer/chains/sui/tx.go
Labels: bug
