Repository icon-project/centralized-relay, pull requests merged in 2024-12, with the labels that each got.

#436 feat: cosign support for release binaries
  .github/workflows/release.yml
  .goreleaser.yaml
  Makefile
  release/cosign.pub
Labels: enhancement, cicd

#446 fix: add logs for solana tx & reduce retry & implement context timeout
  relayer/chains/solana/listener.go
  relayer/chains/solana/tx.go
  relayer/types/types.go
Labels: bug, Solana

#447 Update ref_name in release.yml
  .github/workflows/release.yml
Labels: bug, cicd

#448 fix: docker build context directory selection
  .github/workflows/release.yml
Labels: bug, Centralised Relay, cicd

#449 fix: CI configuration issues in Makefile
  Makefile
Labels: bug, Centralised Relay

#453 fix: redundant tx solana
  relayer/chains/solana/listener.go
  relayer/chains/solana/tx.go
  utils/sorter/sort_test.go
Labels: bug, Solana

#451 fix: cluster audit fixes
  cmd/config.go
  relayer/chains/evm/abi/cluster_conn.go
  relayer/chains/evm/client.go
  relayer/chains/evm/route.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/route.go
  relayer/chains/icon/types/types.go
  relayer/chains/wasm/types/msg.go
Labels: enhancement, Cluster Relayer

#457 fix: incorrect tx filter in solana
  relayer/chains/solana/listener.go
Labels: bug, Solana

#461 fix: relayer version docker build argument formatting
  .github/workflows/release.yml
Labels: bug, Centralised Relay, cicd

#460 remove: Darwin builds from Goreleaser configuration
  .goreleaser.yaml
Labels: enhancement, Centralised Relay

#462 feat: implement cluster connection recv_message in stellar
  relayer/chains/steller/tx.go
  relayer/chains/steller/types/msg.go
Labels: feature, Steller, Cluster Relayer

#464 fix: wait for tx confirmation in evm properly
  relayer/chains/evm/client.go
  relayer/chains/evm/provider.go
Labels: bug, EVM

#456 fix: solana multiple call
  relayer/chains/evm/query.go
  relayer/chains/icon/provider.go
  relayer/chains/mockchain/provider.go
  relayer/chains/solana/tx.go
  relayer/chains/steller/tx.go
  relayer/chains/sui/tx.go
  relayer/chains/wasm/provider.go
  relayer/provider/provider.go
  relayer/relay.go
  relayer/socket/server.go
Labels: bug, Solana

#410 feat: relayer security cluster
  .goreleaser.yaml
  cmd/appstate.go
  cmd/chains.go
  cmd/config.go
  cmd/db.go
  cmd/keystore.go
  cmd/start.go
  relayer/chains/evm/abi/cluster_conn.go
  relayer/chains/evm/client.go
  relayer/chains/evm/provider.go
  relayer/chains/evm/route.go
  relayer/chains/icon/event_parse.go
  relayer/chains/icon/events.go
  relayer/chains/icon/listener.go
  relayer/chains/icon/methods.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/query.go
  relayer/chains/icon/route.go
  relayer/chains/icon/route_cluster.go
  relayer/chains/icon/types/types.go
  relayer/chains/mockchain/provider.go
  relayer/chains/solana/config.go
  relayer/chains/steller/config.go
  relayer/chains/steller/provider.go
  relayer/chains/steller/tx.go
  relayer/chains/steller/types/msg.go
  relayer/chains/sui/config.go
  relayer/chains/sui/keys.go
  relayer/chains/sui/provider.go
  relayer/chains/wasm/client.go
  relayer/chains/wasm/config.go
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/types/msg.go
  relayer/events/eventTypes.go
  relayer/provider/provider.go
  relayer/relay.go
  relayer/relay_test.go
  relayer/types/types.go
Labels: Centralised Relay, feature, Cluster Relayer

#467 fix: add missing common config in solana
  relayer/chains/solana/config.go
Labels: bug, Solana

#465 feat: sui solana cluster connection
  relayer/chains/solana/tx.go
  relayer/chains/sui/provider.go
  relayer/chains/sui/tx.go
Labels: feature, SUI, Solana, Cluster Relayer
