Repository icon-project/centralized-relay, pull requests merged in 2024-03, with the labels that each got.

#137 fix(workflow): go version
  .github/workflows/release.yml
  Makefile
  README.md
Labels: documentation, cicd

#138 fic(ci): makefile use cgo to fix cosmosk deps.
  .github/workflows/lint-pr.yaml
  Makefile
Labels: cicd

#144 fix: bugs and enhancements from stress testing
  CHANGELOG.md
  cmd/chains.go
  cmd/config.go
  docs/config.md
  docs/keystore.md
  go.mod
  relayer/chain.go
  relayer/chains/evm/event_parse_test.go
  relayer/chains/evm/listener.go
  relayer/chains/icon/client.go
  relayer/chains/icon/msg.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/route.go
  relayer/chains/wasm/client.go
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/types/msg.go
  relayer/kms/kms.go
  relayer/relay.go
  relayer/socket/client.go
  relayer/socket/server.go
  relayer/store/blockStore.go
  relayer/store/finalityStore.go
  relayer/store/messageStore.go
  relayer/types/types.go
Labels: bug, documentation, enhancement, Centralised Relay

#150 fix: stress testing results
  .goreleaser.yaml
  CHANGELOG.md
  cmd/config.go
  cmd/keystore.go
  go.mod
  go.sum
  relayer/chains/evm/route.go
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/types/const.go
  relayer/kms/kms.go
  relayer/relay.go
  relayer/socket/client.go
  relayer/socket/server.go
  relayer/types/types.go
Labels: bug, documentation, enhancement, Centralised Relay, cicd

#154 feat: added keystore implementation in centralized-relay for sui keystore
  relayer/chains/sui/client/client.go
  relayer/chains/sui/config.go
  relayer/chains/sui/keys.go
  relayer/chains/sui/keys_test.go
  relayer/chains/sui/provider.go
  relayer/chains/sui/provider_test.go
  relayer/chains/sui/query.go
  relayer/chains/sui/types/types.go
Labels: enhancement, Centralised Relay
